@import "../abstracts/variables";

.contact {
  &.section-linked {
    padding-top: 45px;
    margin-top: -45px;
  }

  &__title {
    margin: 32px 0 24px;
    text-align: center;
  }

  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }
  
  input::placeholder, textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::placeholder, textarea::focus:placeholder {
    color: #bbb5af;
  }
  
  input::-ms-placeholder, textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }
  
  input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }
  
  /* on hover placeholder */
  
  input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::placeholder, textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }
  
  input:hover::placeholder, textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }
  
  input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }
  
  #form {
    position: relative;
    width: 85%;
    max-width: 500px;
    margin: 50px auto 100px auto;
  }
  
  input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: $color-black;
    
    border: solid 1px $color-orange;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  input:hover {
    background: $color-orange;
    color: #e2dedb;
  }
  
  textarea {
    width: 100%;
    max-width: 100%;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    
    background: transparent;
    outline: none;
    
    color: $color-black;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px $color-orange;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  
  textarea:hover {
    background: $color-orange;
    color: #e2dedb;
  }
  
  &__checkbox {
    &-container {
      display: flex;
      padding: 15px;
      border: solid 1px $color-orange;

      input[type="checkbox"] {
        width: auto;
        height: 20px;
        margin-right: 1em;
      }
    }
  }

  #submit {
    width: 100%;
    max-width: 500px;
    height: 50px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: $color-orange;
    
    outline:none;
    cursor: pointer;
    
    border: solid 1px $color-orange;
    border-top: none;
  }
  
  #submit:hover {
    background-color: $color-blue;
    color: $color-gray;
  }
}
