.contact {
  /* on hover placeholder */
}

.contact.section-linked {
  padding-top: 45px;
  margin-top: -45px;
}

.contact__title {
  margin: 32px 0 24px;
  text-align: center;
}

.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.contact input:focus::-webkit-input-placeholder, .contact textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

.contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.contact input::-ms-input-placeholder, .contact textarea::-ms-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.contact input::placeholder, .contact textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.contact input:focus::-webkit-input-placeholder, .contact textarea::focus:placeholder {
  color: #bbb5af;
}

.contact input:focus:-ms-input-placeholder, .contact textarea::focus:placeholder {
  color: #bbb5af;
}

.contact input:focus::-ms-input-placeholder, .contact textarea::focus:placeholder {
  color: #bbb5af;
}

.contact input:focus::placeholder, .contact textarea::focus:placeholder {
  color: #bbb5af;
}

.contact input::-ms-placeholder, .contact textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.contact input:focus::-ms-placeholder, .contact textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

.contact input:hover::-webkit-input-placeholder, .contact textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover:focus::-webkit-input-placeholder, .contact textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

.contact input:hover::-webkit-input-placeholder, .contact textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover:-ms-input-placeholder, .contact textarea:hover:-ms-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover::-ms-input-placeholder, .contact textarea:hover::-ms-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover::placeholder, .contact textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover:focus::-webkit-input-placeholder, .contact textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

.contact input:hover:focus:-ms-input-placeholder, .contact textarea:hover:focus:-ms-input-placeholder {
  color: #cbc6c1;
}

.contact input:hover:focus::-ms-input-placeholder, .contact textarea:hover:focus::-ms-input-placeholder {
  color: #cbc6c1;
}

.contact input:hover:focus::placeholder, .contact textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

.contact input:hover::-webkit-input-placeholder, .contact textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover:-ms-input-placeholder, .contact textarea:hover:-ms-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover::-ms-input-placeholder, .contact textarea:hover::-ms-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover::placeholder, .contact textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

.contact input:hover:focus::-ms-placeholder, .contact textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

.contact #form {
  position: relative;
  width: 85%;
  max-width: 500px;
  margin: 50px auto 100px auto;
}

.contact input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #000;
  border: solid 1px #ff7900;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.contact input:hover {
  background: #ff7900;
  color: #e2dedb;
}

.contact textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  border: solid 1px #ff7900;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.contact textarea:hover {
  background: #ff7900;
  color: #e2dedb;
}

.contact #submit {
  width: 100%;
  max-width: 500px;
  height: 50px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #ff7900;
  outline: none;
  cursor: pointer;
  border: solid 1px #ff7900;
  border-top: none;
}

.contact #submit:hover {
  background-color: #05aacf;
  color: #4f4f4f;
}
/*# sourceMappingURL=style.css.map */