@import '../abstracts/variables';


.footer {
  padding: 10px;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-orange;
  width: 100%;
  justify-content: space-around;
  align-items: center;


  .politicas{
    text-align: center;
    
    text-decoration: none;
    color: black;

    &:hover{
      color: $color-gray;
    }
  }

  .citacion{
    flex-basis: 33%;
    text-align: center;
    display: flex;
    flex-flow: column;
    
    a{
      color: black;
      text-decoration: none;
      
      &:hover{
        color: $color-gray;
      }
    }
  }

  .contenedor-redes{
    flex-basis: 33%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

    img{
      height: 20px;
      width: auto;
      margin: 0 5px;
      background-color: white;
      border-radius: 5px;
      transition:  height 0.2s;

      &:hover{
        height: 25px;
      }
    }
  }

  &__links {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
  }

  &__additional_info {
    margin-top: 1.5em;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


@media screen and (min-width: 600px){
  footer{
    padding: 0;
    .contenedor-redes{
      img{
        height: 35px;
        margin: 0 20px;
        border-radius: 9px;   

        &:hover{
          height: 40px;
        }

      }
    }

    .citacion{
      display:block;
    }
  }
}