@font-face {
  font-family: "Fleepavlop";
  src: url(../fonts/Fleepavlop.ttf) format("truetype"),
  url(../fonts/Fleepavlop.woff) format("woff");
}

@font-face {
  font-family: "Fleepavlop-thin";
  src: url(../fonts/Fleepavlop-Thin.ttf) format("truetype"),
  url(../fonts/Fleepavlop-Thin.woff) format("woff");
}

@font-face {
  font-family: "Fleepavlop-bold";
  src: url(../fonts/Fleepavlop-Bold.ttf) format("truetype"),
  url(../fonts/Fleepavlop-Bold.woff) format("woff");
}

@font-face {
  font-family: "DINPro";
  src: url(../fonts/DINPro.otf) format("opentype");
}