@import "../abstracts/variables";

.support {
  text-align: center;

  &.section-linked {
    padding-top: 45px;
    margin-top: -45px;
  }

  &__title {
    margin: 32px 0 24px;
    text-align: center;
    z-index: -1;
  }

  .text-description {
    padding: 3vh 0 5vh;
  }
  .special-text {
    font-weight: bold;
  }

  .container {
    &__father {
      display: flex;
      padding: 35px 15px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__description {
      width: 50vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      .img {
        &__principal {
          width: 70vw;
          height: auto;
          padding: 0;
        }
      }
    }

    &__payment {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50vw;
      .img {
        &__qr {
          padding: 10px 0;
          height: auto;
          width: 40vw;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .support {
    .text-description {
      padding: 5px 11vw;
    }
    .container {
      &__description {
        .img {
          &__principal {
            width: 30vw;
          }
        }
      }

      &__payment {
        &__button {
          font-weight: bold;
          text-decoration: none;
          padding: 1em;
          background: $color-orange;
          color: $color-black;
          margin-top: 1em;
          border-radius: 5px;
          transition: background-color 0.3s;

          &:hover {
            background: $color-blue;
          }
        }

        .img {
          &__qr {
            width: 12vw;
            padding-right: 5px;
          }
        }
      }
    }
  }
}
